body {
    margin: 0 !important;
    padding:0 !important;
    background: yellow;
}

div {
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    padding-left: 0 !important;
}

.standard {
    background: rgb(146, 252, 125);
}

#graph {
    border: 1px solid blue;
    margin: 105px 10px;
    width: 100%;
    height: 100%;
}